{
    "env": {
      "browser": true,
      "commonjs": true,
      "es6": true
    },
    "globals": {
      "__dirname": true
    },
    "extends": ["eslint:recommended", "eslint-config-prettier", 'plugin:@typescript-eslint/recommended'],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": "2018",
      "sourceType": "module",
    },
    "plugins": ["@typescript-eslint"],
    "rules": {
      "@typescript-eslint/no-var-requires": "off"
    }
}
